/*animation-fill-mode: forwards;  после окончания анимации элемент сохранит стили последнего ключевого кадра*/
/*background: #1b1b1b;*/
@font-face {
	font-family: "Arista Pro";  
	src: url("fonts/AristaPro-Light.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: "Futura";  
	src: url("fonts/Futura-PT.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}

body {
	font: 21px Futura, tahoma, sans-serif;
	line-height: 0.9; /* Межстрочный интервал */
	background: gray;
}

img, svg {
	display: block;
	margin: auto;
	margin-bottom: 50px;
}








#all {
	transform: translate(10%, 34.64px); /*34.64px - высота треугольника, выходящего за границу.     Если есть border, то x =(widthSVG - width#all)/2 |	y = rect{stroke-width} / 2 */
}

#bottom {
	transform: translate(0px, 152px);
}

#bottom rect {
	stroke-width: 4px; 
	stroke: black;
}

text {
	font-size: 40px;
	fill: black;
}

text.body {
	font-size: 21px;
}

text.white {
	fill: white;
}

text.textCenter {
	dominant-baseline: middle;
	text-anchor: middle;
}

tspan.index {
	font-size: 25px;
}

foreignObject p {
	margin-top: 0;
}

.hidden  {
	display: none;
}
/* конфликт с animateTransform */
polygon {
	transform: scale(0.5);	
}

h1, p{
	text-align: center;
}

span.keyword {
	font-weight: bold;
}

.centerWidth {
	max-width: 50%;
	margin: auto;
	text-align: justify;
}

.AngleBorder {
	border-top: solid #06266F;
	border-left: solid #06266F;
	border-width: medium;
	display: inline-block;
}

.indent {
	margin-bottom: 30px;
}

/*
#swap {
	offset-path: path("M0,0 Q200,-80 400,0");
	offset-distance: 50%;
	offset-rotate: 0deg;
	transform: scale(0.5);
	transform-origin: -300px -60px;
}
*/




/*
polygon.sss:hover {
	transition: transform .5s !important;
	transform: scale(1) !important;	
}
*/






/*
#hideText.active {
	animation: hText 1s ease forwards;
}

@keyframes hText {
	0% {
		display: none;
		opacity: 0;
	}
	
	5% {
		display: block;
		opacity: 0;
	}
	
	100% {
		display: block;
		opacity: 1;
	}
}
*/






/*
#arrowL.active {
	animation: Show1 1s ease forwards;
	animation-fill-mode: forwards;
}

@keyframes Show1 {
		
	
	100% {
		stroke: green;
		points: "102,102 102,130 72,130";
	}	
}

@keyframes Show {
	0% {
		transform-origin: 102px 130px;
	}
	
	50% {
		fill: green;
		transform: rotate(90deg) translate(0px, -4.5px);
		transform-origin: 102px 130px;
	}
	
	100% {
		fill: green;
		transform: rotate(90deg) translate(0px, 20px);
		transform-origin: 102px 130px;		
	}	
}
*/

/*
#arrow::before {
	width: 60px;
	content: attr(points);
}
*/
/*
#arrow.active {
	animation: Show2 1s ease forwards;	
}

@keyframes Show2 {
		
	
	100% {
		fill: red;
		
	}	
}


.hideText {
	margin: auto;
	text-align: center;
}
*/

